@charset "utf-8";
/* CSS Document */
#header .Logo{
	position: relative;
	height: 67px;
  	width: 95px;
  	float: left;
  	font-family: Comic Sans MS;
	border-radius: 14px;
	border-shadow: 4px 4px 4px black;
	color: black;
}
#header{
  	font-size:1.5em;
  	font-family: Comic Sans MS;
	color: black;
	border-radius: 14px;
}
#header .title{
	position: relative;
	text-align: center;
}
#menu .atas{
	position: relative;
	text-align: right;
	font-size:1.5em;
  	font-family: Comic Sans MS;
	color: black;
	border-radius: 14px;
}
#menu .samping{
	position: relative;
	text-align: left;
	font-size:1.5em;
  	font-family: Comic Sans MS;
	color: black;
	border-radius: 14px;
}
/**
#content .avatar{
	height: 93px;
	width: 93px;
	float: center;
	font-family: Comic Sans MS;
	color: black;
}**/
#content{
	/**position: absolute;
	background-color: lightgrey;
  	font-size: 1.5em;
  	text-align: center;
	color: black;
  	font-family: Comic Sans MS;**/
}
#footer{
	position: relative;
 	background: white;
  	font-size: 1em;
  	text-align: center;
  	border-radius: 14px;
  	color: black;
  	font-family: Comic Sans MS;
}
ul li{
	display:inline;
	margin-left: 15px;
	margin-right: 15px;
}
ul li a{
	text-decoration: none;
	color: black;
}
ul{
	margin-top: 15px;
	margin-bottom: 15px;
}
ul a{
	text-decoration: none;
	color: black;
}
