@charset "utf-8";
/* CSS Document */
#header {
	background-color: #000;
	height: 5%px;
	width: 100%;
}

#header .logo{;
	height:100px;
	width:120px;
}

#header ul {
  margin: 25px;
  padding: 0; 
}

#header li {
  float: right;
}

#header li a {
  display:block;
  color: white;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
}

#header li a:hover {
  background-color: #000000;
  background-image:linear-gradient(#000000, #FF4500);
  
}

#header .active {
  background-color: #000000;
}

#header .menu-atas{
	float:right;
}

#menu-samping ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #000000;
  background-image:linear-gradient(#000000, #FFFFFF);
  height: 90%;  
  overflow: auto;
  position:absolute;
}

#menu-samping li a {
  display: block;
  color: #FFFFFF;
  padding: 8px 16px;
  text-decoration: none;
}

#menu-samping li a:hover {
  background-color: #000000;
  background-image: linear-gradient(#000000, #FF4500);
  color: white;
}

#menu-samping .active {
  background-color: #000000;
  background-image: linear-gradient(#000000, #FF4500);
  color: white;
}

#menu-samping li{
	text-align:center;
}

#content{
	width:75%;
	float:right;
	padding:15px;
	background-color:#000;
	background-image:linear-gradient(#000000, #FFFFFF);
	margin-left:auto;
	margin-right:auto;
	height:90%;
}

#content .bg{
	float:inherit;
	opacity: 0.05;
 	filter: alpha(opacity=5);
}

.carousel{
	position: absolute;
	top:-730px;
    margin:0 auto;
	padding:0;
	overflow:auto;
	position:static;
}
.carousel .item{
    min-height: 300px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    max-height: 300px;
    width:120%;
}
.bs-example{
    margin:0 auto;
}

@media screen and (max-width: 100%) {
  #menu-samping, #content {
    width: 100%;
  }
}

#footer{
  float:none;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #FFFFFF;
  background-image:linear-gradient(#FFFFFF, #000000);
  height: 5%;  
  overflow: auto;
  position:relative
}



